<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Optimización de Tráfico de Red</title>
</head>
<body>
    <h1>Optimización de Tráfico de Red</h1>
    <form action="/visualization" method="POST">
        <label for="algorithm">Selecciona el algoritmo:</label>
        <select name="algorithm" id="algorithm">
            <option value="original">Grafo Original</option>
            <option value="kruskal">Kruskal</option>
            <option value="prim">Prim</option>
        </select>
        <button type="submit">Visualizar</button>
    </form>
    
    <div>
        {% if edges_count or image_load_time or algorithm_load_time %}
            <h2>Detalles</h2>
        {% endif %}
        
        {% if algorithm_name %}
            <p><strong>Algoritmo seleccionado:</strong> {{ algorithm_name }}</p>
        {% endif %}

        {% if edges_count %}
            <p><strong>Número de aristas:</strong> {{ edges_count }}</p>
        {% endif %}
        
        {% if image_load_time %}
            <p><strong>Tiempo de procesamiento de imagen:</strong> {{ image_load_time }} ms</p>
        {% endif %}
        
        {% if algorithm_load_time %}
            <p><strong>Tiempo de procesamiento de algoritmo:</strong> {{ algorithm_load_time }} ms</p>
        {% endif %}
    </div>

    {% if image_path %}
        <div>
            <img src="{{ image_path }}" alt="Graph Image">
        </div>
    {% endif %}
</body>
</html>
